.wrapper-header {
  display: flex;
  position: relative;  
  background: #8ead28;    
  height: 85px;
  margin-top: -8px;
  margin-left: -8px;
  margin-right: -8px;
  
}

.logo {
  color: aliceblue;
  font-size: 60px;
  width: 500px;
}

.navbar {
  color: white;
  display: flex;
  flex-direction: row;
  
}
.navbar-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
  color: inherit;
  text-decoration: inherit;
  text-transform: uppercase;
  outline: none;
  
}

.order-and-map-container {
  display: flex;
  position: relative;  
}

.order-container {
  padding-left: 8%;
  width: 100%;
  position: relative;  
}

.eco-container {
  display: flex;
  height: 71px;
  background: rgba(0,0,0,.03);
  border-radius: 8.7605px;
}

.lm{
  padding-top: 30px;
  padding-right: 50px;
}

.eco-text {
  display: flex;
  flex-direction: column;
  padding-left: 17px;
  text-align: start;
}

.location-container{
  position: static;
  margin: 10px 0;
}

.get-quote {
 
  display: flex;
  justify-content: center;
  align-items: center;
}

.what-we-do{
  margin-left: 8%;  
  letter-spacing: .15px;
  color: rgba(0,0,0,.87);
  text-align: left;
}

.info {
  display: flex;
  justify-content: space-around;
  width: 92%;
  margin-left: 5%;
}

.leftSide {
  margin-top: 3%;
  width: 33%;
}

.topLeft {
  display: flex;
  align-items: center;
  text-align: left;
}

.bottomLeft{
  margin-top: 50px;
  display: flex;
  align-items: center;
  text-align: left;
}

.rightSide {
  margin-top: 3%;
  width: 33%;
}

.topRight {
  display: flex;
  align-items: center;
  text-align: left;
}

.bottomRight {
  margin-top: 80px;
  display: flex;
  align-items: center;
  text-align: left;
}

.mission {  
    width: 85%;
    margin: 0 auto;
}

.mission-container {
  max-width: 930px;
  text-align: left;
}

.join {
  margin-left: 135px;
}

.cities-container {
 text-align: center;
}